dsl/agent_workflow_v2.yml
app:
  description: Dify 1.13 準拠のローカルAIエージェントChatflow。MCP連携などの拡張基盤として機能します。
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: Local AI Agent (v1.13)
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
    file_upload:
      image:
        enabled: false
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1716942095940-source-1716942097746-target
      source: '1716942095940'
      sourceHandle: source
      target: '1716942097746'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1716942097746-source-1716942100854-target
      source: '1716942097746'
      sourceHandle: source
      target: '1716942100854'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 開始
        type: start
        variables: []
      height: 52
      id: '1716942095940'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: nemotron-jp
          provider: ollama
        prompt_template:
        - id: a4e4c2b9-6b80-4d57-9db0-3d1b3127db83
          role: system
          text: |
            あなたは優秀なAIエージェントです。ユーザーの入力を丁寧に処理します。
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 96
      id: '1716942097746'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1716942097746.text#}}'
        desc: ''
        selected: false
        title: 回答
        type: answer
        variables: []
      height: 101
      id: '1716942100854'
      position:
        x: 684
        y: 282
      positionAbsolute:
        x: 684
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 0
      y: 0
      zoom: 1
