dsl/minutes_workflow.yml
app:
  description: |
    長文の文字起こしをMap-Reduceパターンで処理し、高品質な議事録を作成するワークフロー。
    ローカルLLM（gpt-oss:20B）で完全ローカル動作。
    MCP Filesystem Serverと連携してファイルの読み書きも可能。
  icon: "\U0001F4DD"
  icon_background: '#E8F5E9'
  mode: workflow
  name: "議事録作成ワークフロー（ローカルLLM）"
  use_icon_as_answer_icon: true
kind: app
version: 0.1.5
workflow:
  features:
    file_upload:
      allowed_file_extensions:
      - .txt
      - .md
      - .srt
      - .vtt
      allowed_file_types:
      - document
      - custom
      allowed_file_upload_methods:
      - local_file
      enabled: true
      image:
        enabled: false
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: start-to-splitter
      source: start
      sourceHandle: source
      target: code_splitter
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: iteration
      id: splitter-to-iteration
      source: code_splitter
      sourceHandle: source
      target: iteration_summarizer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: iteration
        targetType: code
      id: iteration-to-joiner
      source: iteration_summarizer
      sourceHandle: source
      target: code_joiner
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: joiner-to-reducer
      source: code_joiner
      sourceHandle: source
      target: llm_reducer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: reducer-to-formatter
      source: llm_reducer
      sourceHandle: source
      target: llm_formatter
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: formatter-to-end
      source: llm_formatter
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    # ============================================
    # START
    # ============================================
    - data:
        desc: 文字起こしと設定を入力
        selected: false
        title: 入力
        type: start
        variables:
        - label: 文字起こしテキスト
          max_length: 2000000
          options: []
          required: true
          type: paragraph
          variable: transcript
        - label: 議事メモ（オプション）
          max_length: 100000
          options: []
          required: false
          type: paragraph
          variable: notes
        - label: 会議タイトル
          max_length: 200
          options: []
          required: false
          type: text-input
          variable: title
        - label: 出力形式
          options:
          - 標準議事録
          - 掛け合い形式
          - 記事要約
          required: true
          type: select
          variable: format
      height: 200
      id: start
      position:
        x: 80
        y: 300
      positionAbsolute:
        x: 80
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: start
      width: 244
    # ============================================
    # SMART SPLITTER (Code)
    # ============================================
    - data:
        code: |
          def main(transcript: str) -> dict:
              import re

              CHUNK_SIZE = 4000
              MIN_CHUNK = 1200
              MAX_CHUNK = 6000
              OVERLAP = 200

              if not transcript or not transcript.strip():
                  return {"chunks": ["（テキストが空です）"], "count": 1}

              text = transcript.strip()
              text_len = len(text)

              if text_len <= CHUNK_SIZE:
                  return {"chunks": [text], "count": 1}

              speaker_pat = re.compile(r'\n[^\n]{1,50}[:：]\s')
              topic_words = ['次に', '続いて', 'それでは', '議題', '本題', 'ところで']

              chunks = []
              pos = 0

              while pos < text_len:
                  end = min(pos + CHUNK_SIZE, text_len)
                  if end >= text_len:
                      chunk = text[pos:].strip()
                      if chunk:
                          chunks.append(chunk)
                      break

                  search_start = pos + MIN_CHUNK
                  search_end = min(pos + MAX_CHUNK, text_len)
                  window = text[search_start:search_end]

                  best = -1

                  matches = list(speaker_pat.finditer(window))
                  if matches:
                      target = CHUNK_SIZE - MIN_CHUNK
                      closest = min(matches, key=lambda m: abs(m.start() - target))
                      best = closest.start()

                  for kw in topic_words:
                      idx = window.find(kw)
                      if idx != -1:
                          nl = window.rfind('\n', 0, idx)
                          if nl != -1:
                              target = CHUNK_SIZE - MIN_CHUNK
                              if best == -1 or abs(nl - target) < abs(best - target):
                                  best = nl

                  if best == -1:
                      for p in ['。\n', '。', '.\n']:
                          idx = window.rfind(p, 0, CHUNK_SIZE)
                          if idx != -1:
                              best = idx + len(p)
                              break

                  if best == -1:
                      best = CHUNK_SIZE - MIN_CHUNK

                  actual_end = search_start + best
                  chunk = text[pos:actual_end].strip()
                  if chunk:
                      chunks.append(chunk)
                  pos = actual_end - OVERLAP

              return {"chunks": chunks, "count": len(chunks)}
        code_language: python3
        desc: 話者交代・話題区切りを考慮したスマート分割
        outputs:
        - chunks
        - count
        selected: false
        title: スマート分割（Map）
        type: code
        variables:
        - value_selector:
          - start
          - transcript
          variable: transcript
      height: 54
      id: code_splitter
      position:
        x: 380
        y: 300
      positionAbsolute:
        x: 380
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: code
      width: 244
    # ============================================
    # ITERATION (Process)
    # ============================================
    - data:
        desc: 各チャンクを丁寧に要約
        error_handle_mode: continue-on-error
        is_parallel: false
        iterator_selector:
        - code_splitter
        - chunks
        output_selector:
        - iter_llm
        - text
        output_type: array[string]
        selected: false
        title: チャンク要約（Process）
        type: iteration
      height: 200
      id: iteration_summarizer
      position:
        x: 680
        y: 300
      positionAbsolute:
        x: 680
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: iteration
      width: 400
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 各チャンクの丁寧な要約
        model:
          completion_params:
            temperature: 0.4
          mode: chat
          name: "gpt-oss:20b"
          provider: ollama
        prompt_template:
        - id: iter-system
          role: system
          text: |
            あなたは優秀な書記です。提供された文字起こしの一部を丁寧に要約してください。

            ## 要約ルール
            1. 発言者と発言内容の対応を明確に保持
            2. 決定事項は【決定】タグで明示
            3. アクションアイテムは【TODO: 担当者】タグで明示
            4. 重要な数字・固有名詞は正確に保持
            5. 議論の流れがわかるように時系列を維持

            ## 出力形式
            【概要】1-2文でこのパートの内容を説明

            【議論】
            - [発言者]: 発言要約
            - [発言者]: 発言要約

            【決定事項】（あれば）
            - 【決定】内容

            【TODO】（あれば）
            - 【TODO: 担当者】内容
        - id: iter-user
          role: user
          text: |
            パート {{#sys.index#}}:
            {{#sys.item#}}
        selected: false
        title: 要約LLM
        type: llm
        variables: []
        vision:
          enabled: false
        parentId: iteration_summarizer
      height: 98
      id: iter_llm
      position:
        x: 20
        y: 60
      positionAbsolute:
        x: 20
        y: 60
      selected: false
      sourcePosition: right
      targetPosition: left
      type: llm
      width: 244
      parentId: iteration_summarizer
    # ============================================
    # JOINER (Code)
    # ============================================
    - data:
        code: |
          def main(summaries: list, count: int) -> dict:
              if not summaries:
                  return {"joined": "（要約なし）", "total": 0}

              valid = [s for s in summaries if s and str(s).strip()]
              parts = []
              for i, s in enumerate(valid, 1):
                  parts.append(f"## パート {i}/{len(valid)}\n\n{s}")

              return {
                  "joined": "\n\n---\n\n".join(parts),
                  "total": len(valid)
              }
        code_language: python3
        desc: 要約リストをセクション番号付きで結合
        outputs:
        - joined
        - total
        selected: false
        title: 要約結合
        type: code
        variables:
        - value_selector:
          - iteration_summarizer
          - output
          variable: summaries
        - value_selector:
          - code_splitter
          - count
          variable: count
      height: 54
      id: code_joiner
      position:
        x: 1130
        y: 300
      positionAbsolute:
        x: 1130
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: code
      width: 244
    # ============================================
    # REDUCER LLM
    # ============================================
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 全パートの要約と議事メモを統合
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: "gpt-oss:20b"
          provider: ollama
        prompt_template:
        - id: reducer-system
          role: system
          text: |
            あなたはプロの書記・編集者です。分割要約と手書きメモを統合してください。

            ## 優先度
            1. 手書き議事メモ → 最優先
            2. 分割要約 → 詳細補完

            ## タスク
            1. 重複排除・矛盾解消（メモ優先）
            2. 時系列で再構成
            3. 全パートの【決定】を集約
            4. 全パートの【TODO】を集約

            ## 出力
            【エグゼクティブサマリー】300-500文字

            【決定事項一覧】

            【アクションアイテム一覧】
            | 担当者 | タスク | 期限 |

            【詳細議事（時系列）】
            ### トピック1
            ### トピック2
        - id: reducer-user
          role: user
          text: |
            ## 分割要約（{{#code_joiner.total#}}パート）
            {{#code_joiner.joined#}}

            ## 手書き議事メモ
            {{#start.notes#}}

            ## 会議タイトル
            {{#start.title#}}
        selected: false
        title: Reduce（統合）
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: llm_reducer
      position:
        x: 1430
        y: 300
      positionAbsolute:
        x: 1430
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: llm
      width: 244
    # ============================================
    # FORMATTER LLM
    # ============================================
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 指定フォーマットに成形
        model:
          completion_params:
            temperature: 0.6
          mode: chat
          name: "gpt-oss:20b"
          provider: ollama
        prompt_template:
        - id: fmt-system
          role: system
          text: |
            統合された議事録素材を指定フォーマットに成形してください。

            ## 出力形式: {{#start.format#}}

            ### 「標準議事録」の場合:
            # [会議タイトル]
            **日時:** / **参加者:** / **作成者:** AI Minutes
            ## 1. エグゼクティブサマリー
            ## 2. 決定事項
            ## 3. アクションアイテム（テーブル形式）
            ## 4. 詳細議事

            ### 「掛け合い形式」の場合:
            # [会議タイトル]
            ## 決定事項・TODO（サマリー）
            ## -話題1: XXX-
            「発言内容」**発言者A**
            → 「レスポンス」**発言者B**
            → 「追加」**発言者C**
            **この話題での決定:** XXX

            ### 「記事要約」の場合:
            # [タイトル]
            ## リード（2-3文）
            ## 概要（段落形式）
            ## 主なポイント
            ## 結論・示唆
        - id: fmt-user
          role: user
          text: |
            {{#llm_reducer.text#}}
        selected: false
        title: Format（成形）
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: llm_formatter
      position:
        x: 1730
        y: 300
      positionAbsolute:
        x: 1730
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: llm
      width: 244
    # ============================================
    # END
    # ============================================
    - data:
        desc: 議事録を出力
        outputs:
        - value_selector:
          - llm_formatter
          - text
          variable: minutes
        selected: false
        title: 出力
        type: end
      height: 90
      id: end
      position:
        x: 2030
        y: 300
      positionAbsolute:
        x: 2030
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: end
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.8
