dsl/minutes_v2.yml
app:
  description: |
    音声文字起こし・会議テキストを高品質な議事録に変換するワークフロー。
    AgentUIで音声ファイルをアップロードするとWhisperで文字起こし後に処理します。
  icon: "\U0001F4DD"
  icon_background: '#FFF7ED'
  mode: workflow
  name: 議事録エージェント v2
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: true
      allowed_file_types:
        - document
        - custom
      allowed_extensions:
        - txt
        - md
        - srt
        - vtt
      allowed_upload_methods:
        - local_file
      max_upload_limit: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: code
        id: edge-start-split
        source: start
        sourceHandle: source
        target: code-split
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: code
          targetType: iteration
        id: edge-split-iter
        source: code-split
        sourceHandle: source
        target: iteration-summarize
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: iteration
          targetType: code
        id: edge-iter-join
        source: iteration-summarize
        sourceHandle: source
        target: code-join
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: code
          targetType: llm
        id: edge-join-reduce
        source: code-join
        sourceHandle: source
        target: llm-reduce
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: llm
          targetType: llm
        id: edge-reduce-format
        source: llm-reduce
        sourceHandle: source
        target: llm-format
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: llm
          targetType: end
        id: edge-format-end
        source: llm-format
        sourceHandle: source
        target: end-node
        targetHandle: target
        type: custom
    nodes:
      - data:
          desc: ''
          selected: false
          title: Start
          type: start
          variables:
            - label: 会議テキスト（文字起こし・議事メモ）
              max_length: 200000
              options: []
              required: true
              type: paragraph
              variable: transcript
            - label: 会議タイトル
              max_length: 200
              options: []
              required: false
              type: text-input
              variable: title
            - label: 追加メモ・補足情報
              max_length: 5000
              options: []
              required: false
              type: paragraph
              variable: notes
            - label: 出力形式
              options:
                - 標準議事録
                - アクションアイテム重視
                - 要約のみ
              required: true
              type: select
              variable: format
        height: 200
        id: start
        position:
          x: 50
          y: 300
        positionAbsolute:
          x: 50
          y: 300
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          code: |
            def main(args: dict) -> dict:
                text = args.get('transcript', '')
                if not text or not text.strip():
                    return {"chunks": ["（テキストが空です）"], "total_chunks": 1}

                CHUNK_SIZE = 4000
                MIN_CHUNK = 1200
                MAX_CHUNK = 6000
                OVERLAP = 200

                # スマート分割: 話者交代・段落・文末を優先
                priority_patterns = [
                    '\n\n',      # 空行（段落区切り）
                    '\n---\n',   # セクション区切り
                    '。\n',      # 文末改行
                    '。',        # 文末
                    '\n',        # 改行
                    '、',        # 読点
                ]

                def find_split_point(text, target, min_pos, max_pos):
                    for pat in priority_patterns:
                        pos = text.rfind(pat, min_pos, max_pos)
                        if pos > min_pos:
                            return pos + len(pat)
                    return target

                chunks = []
                pos = 0
                text_len = len(text)

                while pos < text_len:
                    if text_len - pos <= MAX_CHUNK:
                        chunks.append(text[pos:])
                        break
                    target = pos + CHUNK_SIZE
                    split_at = find_split_point(text, target, pos + MIN_CHUNK, min(pos + MAX_CHUNK, text_len))
                    chunk = text[pos:split_at]
                    if chunk.strip():
                        chunks.append(chunk)
                    pos = max(split_at - OVERLAP, pos + 1)

                if not chunks:
                    chunks = [text]

                return {"chunks": chunks, "total_chunks": len(chunks)}
          code_language: python3
          desc: 'テキストをスマート分割'
          inputs:
            transcript:
              type: string
              value_selector:
                - start
                - transcript
          outputs:
            chunks:
              children: null
              type: array[string]
            total_chunks:
              children: null
              type: number
          selected: false
          title: スマート分割
          type: code
        height: 54
        id: code-split
        position:
          x: 360
          y: 300
        positionAbsolute:
          x: 360
          y: 300
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          desc: '各チャンクを並列要約'
          error_handle_mode: continue-on-error
          iterator_selector:
            - code-split
            - chunks
          output_selector:
            - llm-chunk-summary
            - text
          output_type: array[string]
          selected: false
          title: チャンク並列要約
          type: iteration
          graph:
            edges:
              - data:
                  isInIteration: true
                  sourceType: iteration-start
                  targetType: llm
                id: iter-edge-start-llm
                source: iteration-start-node
                sourceHandle: source
                target: llm-chunk-summary
                targetHandle: target
                type: custom
            nodes:
              - data:
                  desc: ''
                  selected: false
                  title: イテレーション開始
                  type: iteration-start
                  variables: []
                height: 54
                id: iteration-start-node
                position:
                  x: 50
                  y: 200
                positionAbsolute:
                  x: 50
                  y: 200
                selected: false
                sourcePosition: right
                targetPosition: left
                type: custom
                width: 244
              - data:
                  context:
                    enabled: false
                    variable_selector: []
                  desc: 'チャンクを構造化要約'
                  model:
                    completion_params:
                      max_tokens: 1024
                      stop: []
                      temperature: 0.4
                    mode: chat
                    name: gpt-oss:20b
                    provider: ollama
                  prompt_template:
                    - id: sys-chunk-1
                      role: system
                      text: |
                        あなたは議事録作成の専門家です。会議テキストの一部を分析し、以下の構造で要約してください。

                        出力形式:
                        【概要】
                        （このセクションの主な議題を1〜2文で）

                        【議論内容】
                        • （主要な発言・意見を箇条書きで）

                        【決定事項】
                        • （確定した事項を箇条書きで。なければ「なし」）

                        【TODO・アクションアイテム】
                        • 担当者: タスク内容（期限があれば記載）

                        注意: 不明な情報は推測せず省略してください。
                    - id: usr-chunk-1
                      role: user
                      text: |
                        以下の会議テキストを要約してください:

                        {{#iteration-start-node.item#}}
                  selected: false
                  title: チャンク要約
                  type: llm
                  variables: []
                  vision:
                    configs:
                      detail: high
                    enabled: false
                height: 98
                id: llm-chunk-summary
                position:
                  x: 360
                  y: 200
                positionAbsolute:
                  x: 360
                  y: 200
                selected: false
                sourcePosition: right
                targetPosition: left
                type: custom
                width: 244
        height: 400
        id: iteration-summarize
        position:
          x: 670
          y: 200
        positionAbsolute:
          x: 670
          y: 200
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 700

      - data:
          code: |
            def main(args: dict) -> dict:
                summaries = args.get('summaries', [])
                if not summaries:
                    return {"combined": "要約結果なし"}
                parts = []
                for i, s in enumerate(summaries, 1):
                    if s and s.strip():
                        parts.append(f"=== セクション {i} ===\n{s.strip()}")
                combined = "\n\n".join(parts)
                return {"combined": combined}
          code_language: python3
          desc: 'チャンク要約を結合'
          inputs:
            summaries:
              type: array[string]
              value_selector:
                - iteration-summarize
                - output
          outputs:
            combined:
              children: null
              type: string
          selected: false
          title: 要約結合
          type: code
        height: 54
        id: code-join
        position:
          x: 1440
          y: 300
        positionAbsolute:
          x: 1440
          y: 300
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          context:
            enabled: false
            variable_selector: []
          desc: 'セクション要約を統合・整理'
          model:
            completion_params:
              max_tokens: 3000
              stop: []
              temperature: 0.5
            mode: chat
            name: gpt-oss:20b
            provider: ollama
          prompt_template:
            - id: sys-reduce-1
              role: system
              text: |
                あなたは議事録作成の専門家です。複数のセクション要約を統合し、会議全体の記録を作成してください。

                以下の項目を必ず含めてください:
                1. 会議全体の概要（3〜5文）
                2. 主要な議論・決定事項のリスト
                3. 全アクションアイテム（担当者・期限付き）
                4. 次回会議に持ち越す課題

                重複を排除し、論理的な流れで整理してください。
            - id: usr-reduce-1
              role: user
              text: |
                ## 会議タイトル
                {{#start.title#}}

                ## セクション別要約
                {{#code-join.combined#}}

                ## 追加メモ
                {{#start.notes#}}

                上記を統合して会議全体の記録を作成してください。
          selected: false
          title: 全体統合
          type: llm
          variables: []
          vision:
            configs:
              detail: high
            enabled: false
        height: 98
        id: llm-reduce
        position:
          x: 1750
          y: 300
        positionAbsolute:
          x: 1750
          y: 300
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          context:
            enabled: false
            variable_selector: []
          desc: '指定フォーマットで議事録を出力'
          model:
            completion_params:
              max_tokens: 3000
              stop: []
              temperature: 0.6
            mode: chat
            name: gpt-oss:20b
            provider: ollama
          prompt_template:
            - id: sys-format-1
              role: system
              text: |
                あなたは議事録フォーマットの専門家です。提供された会議記録を、指定された出力形式に整形してください。

                出力形式の説明:
                - 標準議事録: 日時・参加者・議題・議論内容・決定事項・次回アクションの標準フォーマット
                - アクションアイテム重視: アクションアイテムを最上部に配置し、担当者・期限・優先度を表形式で出力
                - 要約のみ: 会議の核心だけを箇条書きで簡潔にまとめた短縮版（500文字以内）

                日本語で読みやすい形式で出力してください。
            - id: usr-format-1
              role: user
              text: |
                ## 出力形式
                {{#start.format#}}

                ## 会議タイトル
                {{#start.title#}}

                ## 会議記録
                {{#llm-reduce.text#}}

                指定された形式で議事録を作成してください。
          selected: false
          title: フォーマット整形
          type: llm
          variables: []
          vision:
            configs:
              detail: high
            enabled: false
        height: 98
        id: llm-format
        position:
          x: 2060
          y: 300
        positionAbsolute:
          x: 2060
          y: 300
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          desc: ''
          outputs:
            - value_selector:
                - llm-format
                - text
              variable: minutes
          selected: false
          title: End
          type: end
        height: 54
        id: end-node
        position:
          x: 2370
          y: 300
        positionAbsolute:
          x: 2370
          y: 300
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
  hash: minutes-agent-v2-2026
  version: 0.1.5
