dsl/research_agent.yml
app:
  description: SearXNGでWeb検索し、最新情報を出典付きで回答する調査エージェント
  icon: "\U0001F50D"
  icon_background: '#DBEAFE'
  mode: advanced-chat
  name: 調査エージェント
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: |
      調査したいことを教えてください。
      SearXNGで最新のWeb情報を検索し、出典付きで回答します。
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    suggested_questions:
      - 2026年のAI最新動向を教えてください
      - 日本の最新ニュースを調べてください
      - Pythonの最新バージョンの変更点は？
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: code
        id: edge-start-encode
        source: start
        sourceHandle: source
        target: code-encode
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: code
          targetType: http-request
        id: edge-encode-search
        source: code-encode
        sourceHandle: source
        target: http-search
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: http-request
          targetType: code
        id: edge-search-parse
        source: http-search
        sourceHandle: source
        target: code-parse
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: code
          targetType: llm
        id: edge-parse-llm
        source: code-parse
        sourceHandle: source
        target: llm-answer
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: llm
          targetType: answer
        id: edge-llm-answer
        source: llm-answer
        sourceHandle: source
        target: answer-node
        targetHandle: target
        type: custom
    nodes:
      - data:
          desc: ''
          selected: false
          title: Start
          type: start
          variables: []
        height: 54
        id: start
        position:
          x: 50
          y: 250
        positionAbsolute:
          x: 50
          y: 250
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          code: |
            import urllib.parse
            def main(args: dict) -> dict:
                query = args.get('query', '').strip()
                if not query:
                    return {"encoded": "", "raw": ""}
                encoded = urllib.parse.quote(query, safe='')
                return {"encoded": encoded, "raw": query}
          code_language: python3
          desc: 'クエリをURLエンコード'
          inputs:
            query:
              type: string
              value_selector:
                - sys
                - query
          outputs:
            encoded:
              children: null
              type: string
            raw:
              children: null
              type: string
          selected: false
          title: クエリエンコード
          type: code
        height: 54
        id: code-encode
        position:
          x: 360
          y: 250
        positionAbsolute:
          x: 360
          y: 250
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data: ''
            type: none
          desc: 'SearXNGでWeb検索を実行'
          headers: 'Accept: application/json'
          method: get
          params: 'q={{#code-encode.encoded#}}&format=json&language=ja&safesearch=0&pageno=1'
          selected: false
          timeout:
            connect: 30
            max_connect_retries: 2
            max_retries: 2
            read: 30
            write: 30
          title: SearXNG検索
          type: http-request
          url: http://searxng:8080/search
          variables: []
        height: 54
        id: http-search
        position:
          x: 670
          y: 250
        positionAbsolute:
          x: 670
          y: 250
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          code: |
            import json
            def main(args: dict) -> dict:
                body_str = args.get('body', '{}')
                raw_query = args.get('raw_query', '')
                try:
                    body = json.loads(body_str) if isinstance(body_str, str) else body_str
                    results = body.get('results', [])
                except Exception:
                    results = []
                if not results:
                    return {
                        "search_results": "検索結果が見つかりませんでした。直接知識をもとに回答します。",
                        "has_results": "false"
                    }
                lines = []
                urls = []
                for i, r in enumerate(results[:6], 1):
                    title = r.get('title', '').strip()
                    content = r.get('content', '').strip()
                    url = r.get('url', '').strip()
                    if title or content:
                        lines.append(f"[{i}] **{title}**\n{content}\nURL: {url}")
                        urls.append(f"[{i}] {url}")
                search_text = "\n\n".join(lines) if lines else "有効な検索結果なし"
                return {"search_results": search_text, "has_results": "true"}
          code_language: python3
          desc: '検索結果をMarkdown形式に整形'
          inputs:
            body:
              type: string
              value_selector:
                - http-search
                - body
            raw_query:
              type: string
              value_selector:
                - code-encode
                - raw
          outputs:
            search_results:
              children: null
              type: string
            has_results:
              children: null
              type: string
          selected: false
          title: 結果整形
          type: code
        height: 54
        id: code-parse
        position:
          x: 980
          y: 250
        positionAbsolute:
          x: 980
          y: 250
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          context:
            enabled: false
            variable_selector: []
          desc: '検索結果を分析して回答を生成'
          model:
            completion_params:
              max_tokens: 2048
              stop: []
              temperature: 0.5
            mode: chat
            name: gpt-oss:20b
            provider: ollama
          prompt_template:
            - id: sys-research-1
              role: system
              text: |
                あなたは情報調査の専門家です。提供された検索結果を分析し、ユーザーの質問に正確・簡潔に回答してください。

                ルール:
                1. 検索結果に基づいて回答してください
                2. 日本語で回答してください
                3. 回答の末尾に「## 出典」セクションを追加し、参照URLを箇条書きで列挙してください
                4. 情報が不足している場合は、その旨を明記してください
                5. 不確かな情報は「〜とされています」「〜のようです」と明示してください
            - id: usr-research-1
              role: user
              text: |
                ## 質問
                {{#code-encode.raw#}}

                ## 検索結果
                {{#code-parse.search_results#}}

                上記の検索結果をもとに、質問への回答を作成してください。
          selected: false
          title: 調査・回答生成
          type: llm
          variables: []
          vision:
            configs:
              detail: high
            enabled: false
        height: 98
        id: llm-answer
        position:
          x: 1290
          y: 220
        positionAbsolute:
          x: 1290
          y: 220
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          answer: '{{#llm-answer.text#}}'
          desc: ''
          selected: false
          title: 回答
          type: answer
          variables: []
        height: 107
        id: answer-node
        position:
          x: 1600
          y: 250
        positionAbsolute:
          x: 1600
          y: 250
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
  hash: research-agent-v1-2026
  version: 0.1.5
